.footer-wrapper {
	background-color: #232F3E;
	color: #ffff;
}
h1 {
	padding: 0 20px;
}
li a {
	color: #ffff;
}
@media only screen and (max-width: 1024px) {
	h2 {
	transition: background .3s ease;
	position: relative;
	}

	h2:after {
		position: absolute;
	    content: '+';
	    font-size: 24px;
	    line-height: 1;
	    width: 0.9em;
	    height: 0.9em;
	    padding: 0.05em 0.125em 0 0;
	    text-align: center;
	    z-index: 0;
	    color: white;
	    background-image: none;
	    display: block;
	    top: inherit;
	    margin-top: -25px;
	    right: -4px;
	}
	.menu {
		display: none;
	}
	.menu.show-menu {
		display: block;
	}
	h2.open:after {
		position: absolute;
    content: '-';
    font-size: 30px;
    line-height: 1;
    padding: 0.05em 0.125em 0 0;
    text-align: center;
    z-index: 0;
    color: white;
	}
}

